:root {
		/* General */
	--g-bodyMain: #222123;
	--g-cardMain: #343035;
	--g-cardMain-hover: #422b3e;
	--g-textLight: #eaf2e5;
	--g-textEmphasis: #beed9e;
	--g-textEmphasis-border: #96c44e;
	--g-textDim: #b9b5b7;
	--s-cardMain: #13121475;
	--s-cardMain-hover: #13121480;
	--t-skyUpper: #9db4f5;
	--t-skyLower: #754bca;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 150vh);
}
header #headerLogo, #funkyTitleLarge {
	scale: -1;
}
#sunnySky {
	filter: blur(5px) sepia(.5) grayscale(.5) hue-rotate(45deg) opacity(.25);
}
#sunnyClouds {
	filter: blur(.5px) sepia(.5) grayscale(.5) hue-rotate(45deg) opacity(.5);
}
#sunnyGround {
	filter: sepia(.5) grayscale(.5) hue-rotate(45deg);
}
img {
	scale: -1;
}
#mainBody {
	filter: hue-rotate(45deg);
}
#pageOptions img {
	filter: invert() grayscale();
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
}
.squishable:hover {
	transform: scale(-1.05, .95) rotate(182deg);
}
.squishable:active {
	transform: scale(-1.1, .9) rotate(183deg);
}
footer {
	transform: scale(1, -1);
}
#sunnyFooterImg {
	scale: none;
}
#setMenuRight::before {
	filter: saturate(.1) hue-rotate(-105deg) drop-shadow(-5px -50px 1px var(--s-shadow25));
}