@import url("https://fonts.googleapis.com/css?family=Jura");
@import url("https://fonts.googleapis.com/css?family=Viga");
:root {
		/* General */
	--g-bodyMain: #003663;
	--g-cardMain: #113c72;
	--g-cardMain-hover: #225089;
	--g-textLight: #ffcbf9;
	--g-textEmphasis: #ffa0d8;
	--g-textEmphasis-border: #c072a6;
	--g-textDim: #d781d8;

		/* Title Card */
	--t-skyUpper: #635ebd;
	--t-skyLower: #fdeaff;

		/* Shadows */
	--s-cardMain: #002e5875;
	--s-cardMain-hover: #002e5880;
}

body {
	font-family: "Jura", sans-serif;
}
body {
	background: linear-gradient(var(--t-skyUpper) 0%, var(--t-skyLower) 50vh);
}
header #headerLogo, header ul li a, #funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash, #funkyTitleSplash a, #mainBody h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Viga";
	font-weight: 200;
}
header {
	background: linear-gradient(to left, var(--s-cardMain-hover), transparent);
}
header::before {
	filter: hue-rotate(-90deg) brightness(50%) drop-shadow(10px 10px 5px var(--s-shadow50));
}
header ul li a {
	font-size: 12px;
}
section img#sunnySky {
	mix-blend-mode: multiply;
}
section img#hills {
	filter: opacity(90%) hue-rotate(120deg) saturate(50%);
}
section img#sunnyGround, #pageOptions img {
	filter: sepia() hue-rotate(-150deg) saturate(200%);
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 12px;
}
#settings_optiondesc {
	font-size: 14px;
	letter-spacing: -0.75px;
}
#settings_credits a img, #settings_creditsmember img {
	filter: sepia(25%) hue-rotate(-35deg);
}
footer a {
	font-size: 14.25px;
}