@import url("https://fonts.googleapis.com/css?family=Jura");
@import url("https://fonts.googleapis.com/css?family=Viga");
:root {
		/* General */
	--f-fontMain: "Jura";
	--f-fontAlt: "Viga";
	--g-bodyMain: #003663;
	--g-cardMain: #113c72;
	--g-cardMain-hover: #225089;
	--g-textLight: #ffcbf9;
	--g-textEmphasis: #ffa0d8;
	--g-textEmphasis-border: #c072a6;
	--g-textDim: #d781d8;
	--s-cardMain: #002e5875;
	--s-cardMain-hover: #002e5880;
	--t-skyUpper: #635ebd;
	--t-skyLower: #fdeaff;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 50vh);
}
header::before {
	filter: hue-rotate(-90deg) brightness(.25) drop-shadow(10px 10px 5px var(--s-shadow50)) opacity(.75);
}
#sunnySky {
	mix-blend-mode: multiply;
}
#sunnyMountains {
	filter: opacity(.25);
}
#sunnyGround, #pageOptions img {
	filter: sepia() hue-rotate(-150deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(180deg);
}
#setMenuRight::before {
	filter: saturate(.1) hue-rotate(-135deg) drop-shadow(-5px -50px 1px var(--s-shadow25));
}