@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Rubik+Maps");
:root {
		/* General */
	--f-fontMain: "Acme";
	--f-fontAlt: "Rubik Maps";
	--g-bodyMain: #74569b;
	--g-cardMain: #9366b1;
	--g-cardMain-hover: #be74ac;
	--g-textLight: #f7ffae;
	--g-textEmphasis: #96fbc7;
	--g-textEmphasis-border: #74569b;
	--g-textDim: #d8bfd8;
	--s-cardMain: #423e7d75;
	--s-cardMain-hover: #423e7d80;
	--t-skyUpper: #6cfff8;
	--t-skyLower: #f0db7f;
}

#headerLogo {
	font-weight: 500;
}
header ul li a {
	font-family: var(--f-fontMain);
}
#sunnyClouds {
	filter: opacity(.75);
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(90deg) brightness(1.5) contrast(2) opacity(.75);
}
#overlay {
	mix-blend-mode: color-burn;
}
#pageOptions a#item {
	border: 1px solid var(--g-textEmphasis);
}
#pageOptions img {
	filter: sepia() hue-rotate(-150deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: brightness(2) hue-rotate(-90deg) saturate(1.5);
}
#setMenuRight::before {
	filter: saturate(.25) hue-rotate(-90deg) drop-shadow(-5px -50px 1px var(--s-shadow25));
}