@import url("https://fonts.googleapis.com/css?family=Afacad");
@import url("https://fonts.googleapis.com/css?family=Nunito");
:root {
		/* General */
	--f-fontMain: "Afacad";
	--f-fontAlt: "Nunito";
	--g-bodyMain: #253355;
	--g-cardMain: #503d6c;
	--g-cardMain-hover: #81357f;
	--g-textLight: #f8e6ee;
	--g-textEmphasis: #eec8d8;
	--g-textEmphasis-border: #cf6591;
	--g-textDim: #db8dad;
	--s-cardMain: #0c325075;
	--s-cardMain-hover: #0c325080;
	--t-skyUpper: #dd5891;
	--t-skyLower: #edc5d5;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 50vh);
}
header #headerLogo {
	font-size: 22px;
}
header ul li a {
	font-size: 12px;
}
#sunnySky {
	filter: saturate(2) hue-rotate(45deg) saturate(.15);
}
#sunnyGround {
	filter: sepia(.75) hue-rotate(225deg) saturate(2);
}
#overlay {
	mix-blend-mode: color-burn;
}
#pageOptions img {
	filter: sepia() hue-rotate(-90deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
footer a {
	font-size: 14px;
}
#sunnyFooterImg {
	filter: hue-rotate(90deg) saturate(1.5);
}
#setMenuRight::before {
	filter: saturate(.1) hue-rotate(-67.5deg) drop-shadow(-5px -50px 1px var(--s-shadow25));
}