:root {
		/* General */
	--f-fontMain: "Arial", "Helvetica";
	--f-fontAlt: "Arial", "Helvetica";
	--g-bodyMain: #aae5a4;
	--g-cardMain: #9f9;
	--g-cardMain-hover: #bfb;
	--g-textLight: #1a1a1a;
	--g-textEmphasis: #009;
	--g-textEmphasis-border: #70ba78;
	--g-textDim: #333;
	--s-cardMain: #33663375;
	--s-cardMain-hover: #3638;
	--t-skyUpper: #aae5a4;
	--t-skyLower: #aae5a4;
}

header ul li a:hover, header ul li a.active, header ul li a#active, header ul li a.fa:hover, header ul li a.fa#active {
	background: var(--g-textEmphasis-border);
	color: #fff;
}
header #headerLogo {
	font-size: 21px;
}
header ul li a {
	font-size: 12px;
}
#sunnySky {
	mix-blend-mode: screen;
}
#sunnyClouds {
	filter: opacity(.5);
	mix-blend-mode: hard-light;
}
#sunnyMountains {
	filter: hue-rotate(-90deg) opacity(.5);
}
#sunnyGround {
	filter: sepia() hue-rotate(67.5deg) saturate(1.25);
}
#overlay {
	mix-blend-mode: darken;
}
#funkyTitleLarge {
	font-size: 90px;
}
#funkyTitleSplash {
	color: var(--s-body-main);
}
#infoBox p {
	font-size: 12px;
}
#pageOptions a:link img, #pageOptions a:visited img {
	filter: invert() opacity(.75);
}
#pageOptions img {
	filter: none;
}
#pageOptions img#svg, #raidenTheRat {
	filter: invert();
	mix-blend-mode: darken;
}
#pageOptions p {
	font-size: 11px;
}
.squishable {
	filter: opacity(.9);
}
#invert {
	filter: invert() sepia();
	mix-blend-mode: normal;
}
footer a {
	font-size: 14px;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(45deg);
}

#setOverlay::before {
	filter: hue-rotate(165deg) opacity(.25) saturate(.25);
}
#setTabs ul li img {
	filter: invert() opacity(.75);
}
.setPageThemes ul li {
	color: var(--g-cardMain-hover);
}
#setMenuRight::before {
	filter: saturate(.1) hue-rotate(165deg) drop-shadow(-5px -50px 1px var(--s-shadow25));
}