:root {
		/* General */
	--g-bodyMain: #282828;
	--g-cardMain: #333;
	--g-cardMain-hover: #3d3d3d;
	--g-textLight: #dedede;
	--g-textEmphasis: #a8a8a8;
	--g-textEmphasis-border: #282828;
	--g-textDim: #c3c3c3;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #000;
	--t-skyLower: #171717;
}

#sunnySky {
	filter: saturate(.2) grayscale() contrast(.3);
}
#sunnyClouds {
	filter: opacity(.25) grayscale();
	mix-blend-mode: soft-light;
}
#sunnyMountains {
	filter: grayscale() opacity(.5);
}
#sunnyGround {
	filter: saturate(.8) grayscale() brightness(.5);
}
#pageOptions img {
	filter: grayscale() brightness(.75);
}
#overlay {
	mix-blend-mode: overlay;
	filter: opacity(.1);
}
#sunnyFooterImg {
	filter: grayscale() brightness(.75);
}
#setOverlay::before {
	filter: grayscale() opacity(.25);
}
#setMenuRight::before {
	filter: grayscale() drop-shadow(-5px -50px 1px var(--s-shadow25));
}