:root {
		/* General */
	--g-bodyMain: #cbcbcb;
	--g-cardMain: #bcbcbc;
	--g-cardMain-hover: #b2b2b2;
	--g-textLight: #282828;
	--g-textEmphasis: #fff;
	--g-textEmphasis-border: #333;
	--g-textDim: #292929;
	--s-cardMain: #28282875;
	--s-cardMain-hover: #28282880;
	--t-skyUpper: #fff;
	--t-skyLower: #fff;
}

#sunnySky {
	filter: saturate(2) grayscale() opacity(.25);
}
#sunnyClouds {
	filter: opacity(0);
}
#sunnyGround {
	filter: contrast(.75) saturate(.8) grayscale() brightness(1.5);
	mix-blend-mode: multiply;
}
#pageOptions p {
	color: var(--g-textLight);
}
.squishable {
	filter: invert() opacity(.84);
}
#sunnyFooterImg {
	filter: grayscale() contrast(.5) brightness(1.5);
}
#setOverlay::before {
	filter: grayscale() opacity(.25);
}
#setMenuRight::before {
	filter: grayscale() brightness(3.5) drop-shadow(-5px -50px 1px var(--s-shadow25));
}