@import url("https://fonts.googleapis.com/css?family=Montserrat");
:root {
		/* General */
	--f-fontMain: "Montserrat", Helvetica, Arial;
	--f-fontAlt: "Montserrat";
	--g-bodyMain: #fff;
	--g-cardMain: #767c88;
	--g-cardMain-hover: #a8aeba;
	--g-textLight: #000;
	--g-textEmphasis: #fafbfd;
	--g-textEmphasis-border: #474c5e;
	--g-textDim: #494d59;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #446cf2;
	--t-skyLower: #fff;

		/* Special */
	--x-headerShadow: #2146bd40;
}

body {
	background: var(--t-skyLower);
}
header {
	background: var(--t-skyUpper);
	box-shadow: 0 1px 6px 2px var(--x-headerShadow);
}
header #headerLogo, header ul li a {
	color: var(--g-textEmphasis);
}
#sunnyClouds {
	filter: opacity(0);
}
#sunnyGround {
	filter: sepia() hue-rotate(180deg) grayscale(.5) opacity(.75);
}
#overlay {
	mix-blend-mode: color-burn;
}
#infoBox {
	background: var(--g-textEmphasis);
}
#infoBox p {
	color: var(--t-skyUpper);
}
#pageOptions a#item {
	background: transparent;
	text-decoration: none;
	transition: 0s;
}
#pageOptions a#item:hover {
	background: transparent;
	filter: drop-shadow(0 5px 4px var(--s-cardMain));
	transform: scale(1, 1) rotate(0deg);
}
#pageOptions a#item:visited {
	border-style: dotted;
}
#pageOptions a:link, #pageOptions a:visited {
	background: var(--s-cardMain);
}
#pageOptions a:hover:link, #pageOptions a:hover:visited {
	background: var(--s-cardMain-hover);
}
#pageOptions img {
	filter: none;
}
#pageOptions img#svg, #raidenTheRat {
	filter: invert() opacity(.8);
}
#pageOptions p {
	color: var(--g-textLight);
	font-size: 12px;
	font-weight: 100;
	text-decoration: none;
}
#raidenTheRat {
	filter: opacity(.9);
}
footer {
	background: transparent;
}
footer a#footer-time, footer a#footer-brand {
	color: var(--g-textDim);
}
footer a:link, footer a:visited {
	color: var(--t-skyUpper);
}
footer a#footer-padding {
	color: var(--g-cardMain);
}
footer a:link:hover, footer a:visited:hover {
	text-shadow: -.25px -.25px 0 var(--g-cardMain-hover), .25px -.25px 0 var(--g-cardMain-hover), -.25px .25px 0 var(--g-cardMain-hover), .25px .25px 0 var(--g-cardMain-hover);
}
#sunnyFooterImg {
	filter: sepia() brightness(.75) hue-rotate(170deg) saturate(3);
}