@import url("https://fonts.googleapis.com/css?family=Asul");
@import url("https://fonts.googleapis.com/css?family=Atma");
:root {
		/* General */
	--f-fontMain: "Asul";
	--f-fontAlt: "Atma";
	--g-bodyMain: #28182c;
	--g-cardMain: #462246;
	--g-cardMain-hover: #5f2456;
	--g-textLight: #ffd7e6;
	--g-textEmphasis: #ff4b8d;
	--g-textEmphasis-border: #77124d;
	--g-textDim: #be4772;
	--s-cardMain: #0a060b75;
	--s-cardMain-hover: #0a060b80;
	--t-skyUpper: #ff8db7;
	--t-skyLower: #ffdfe7;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 75vh, var(--t-skyUpper) 100vh);
}
header #headerLogo {
	font-size: 27px;
}
header ul li {
	margin-left: 22px;
}
header ul li a {
	font-size: 14px;
}
#sunnyMountains {
	filter: hue-rotate(45deg) opacity(.5) blur(.5px);
	mix-blend-mode: multiply;
}
#sunnyGround {
	filter: sepia() saturate(5) hue-rotate(-135deg) opacity(.8);
	mix-blend-mode: multiply;
}
#overlay {
	mix-blend-mode: color-burn;
}
#funkyTitleLarge {
	letter-spacing: 5px;
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: sepia() hue-rotate(-90deg) saturate(1.5);
}
#pageOptions img#svg, #raidenTheRat {
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 12px;
}
footer a {
	font-size: 13px;
	letter-spacing: 1.6px;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(-135deg) saturate(5) opacity(.5);
}
#setOverlay::before {
	filter: hue-rotate(-90deg) opacity(.25) saturate(.25);
}