@import url("https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre");
:root {
		/* General */
	--f-fontMain: "Averia Gruesa Libre";
	--f-fontAlt: "Averia Gruesa Libre";
	--g-bodyMain: #150926;
	--g-cardMain: #1f2b68;
	--g-cardMain-hover: #315383;
	--g-textLight: #fdd0fc;
	--g-textEmphasis: #d7cfc8;
	--g-textEmphasis-border: #5e7f8f;
	--g-textDim: #f7d0d0;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #8dacba;
	--t-skyLower: #d7cfc8;
}

section img#sunnyClouds {
	filter: opacity(.25);
}
section img#hills {
	filter: opacity(.9) hue-rotate(22.5deg) saturate(.5);
}
section img#sunnyGround {
	filter: sepia(.5) hue-rotate(30deg) saturate(1.5) opacity(.9);
}
section img#overlay {
	mix-blend-mode: color-burn;
}
#pageOptions img {
	filter: sepia() hue-rotate(180deg) contrast(1.25);
}
#pageOptions img#svg, #raidenTheRat {
	filter: sepia();
}
#sunnyFooterImg {
	filter: hue-rotate(-45deg) saturate(.8);
}