@import url("https://fonts.googleapis.com/css?family=Stick+No+Bills");
@import url("https://fonts.googleapis.com/css?family=Tilt+Neon");
:root {
		/* General */
	--f-fontMain: "Stick No Bills";
	--f-fontAlt: "Tilt Neon";
	--g-bodyMain: #085956;
	--g-cardMain: #2e7e6e;
	--g-cardMain-hover: #408a6a;
	--g-textLight: #ffffc8;
	--g-textEmphasis: #d3dca8;
	--g-textEmphasis-border: #4b7a5f;
	--g-textDim: #cce6a7;
	--s-cardMain: #00484d75;
	--s-cardMain-hover: #00484d80;
	--t-skyUpper: #9c9c7b;
	--t-skyLower: #f9ffba;
}

#sunnySky {
	filter: sepia(.5) hue-rotate(90deg) saturate(.5) opacity(.5);
	mix-blend-mode: multiply;
}
#sunnyClouds {
	filter: opacity(.5) hue-rotate(135deg);
	mix-blend-mode: lighten;
}
#sunnyMountains {
	filter: hue-rotate(-45deg) opacity(.5) blur(.5px);
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(45deg) grayscale(.5);
}
#pageOptions img {
	filter: grayscale();
}
#pageOptions img#svg, #raidenTheRat {
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: hue-rotate(-45deg);
}