@import url("https://fonts.googleapis.com/css?family=Rokkitt");
:root {
		/* General */
	--f-fontMain: "Rokkitt";
	--f-fontAlt: Arial, Helvetica;
	--g-bodyMain: #001854;
	--g-cardMain: #1e407e;
	--g-cardMain-hover: #16629b;
	--g-textLight: #e0e0e0;
	--g-textEmphasis: #feba01;
	--g-textEmphasis-border: #955400;
	--g-textDim: #e0e0e0;
	--s-cardMain: #22222275;
	--s-cardMain-hover: #2228;
	--t-skyUpper: #5f8dff;
	--t-skyLower: #001854;
}

header #headerLogo {
	font-size: 22px;
}
header ul li {
	margin-left: 18px;
}
body {
	background: linear-gradient(var(--t-skyUpper) 0 var(--t-skyLower) 100vh);
}
#sunnySky {
	filter: blur(10px);
	mix-blend-mode: screen;
}
#sunnyClouds {
	filter: opacity(.25);
	mix-blend-mode: luminosity;
}
#sunnyGround {
	filter: sepia() hue-rotate(180deg) saturate(.5);
}
section img#overlay {
	mix-blend-mode: multiply;
}
#mainBody {
	background: linear-gradient(var(--g-bodyMain) 0, var(--t-skyUpper) 300vh);
}
#pageOptions a#item {
	background: linear-gradient(to top, var(--g-cardMain), var(--g-cardMain-hover));
	border: 3px solid var(--t-skyUpper);
}
#pageOptions a#item:hover {
	filter: opacity(.8);
}
#pageOptions img#svg, #raidenTheRat {
	mix-blend-mode: lighten;
}
footer {
	padding-top: 1px;
}
footer a {
	font-size: 14px;
	letter-spacing: 1px;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(180deg) saturate(4);
}