@import url("https://fonts.googleapis.com/css?family=Rokkitt");
:root {
		/* General */
	--g-bodyMain: #001854;
	--g-cardMain: #1e407e;
	--g-cardMain-hover: #16629b;
	--g-textLight: #e0e0e0;
	--g-textEmphasis: #feba01;
	--g-textEmphasis-border: #955400;
	--g-textDim: #e0e0e0;

		/* Title Card */
	--t-skyUpper: #5f8dff;
	--t-skyLower: #001854;

		/* Shadows */
	--s-cardMain: #22222275;
	--s-cardMain-hover: #22222280;
}

body, header ul li a, #funkyTitleSplash, footer a {
	font-family: "Rokkitt", sans-serif;
}
header #headerLogo, #funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash a, #mainBody h2, #settings_title, #settings_bar h2 {
	font-family: Arial, Helvetica, sans-serif;
}
header #headerLogo {
	font-size: 22px;
}
header ul li {
	margin-left: 18px;
}
body {
	background: linear-gradient(var(--t-skyUpper) 0%, var(--t-skyLower) 100vh);
}
section img#sunnySky {
	filter: blur(10px);
	mix-blend-mode: screen;
}
section img#sunnyClouds {
	filter: opacity(25%);
	mix-blend-mode: luminosity;
}
section img#hills {
	filter: opacity(90%) grayscale(50%) brightness(50%) hue-rotate(120deg) saturate(500%);
}
section img#sunnyGround {
	filter: sepia() hue-rotate(180deg) saturate(50%);
}
section img#overlay {
	mix-blend-mode: multiply;
}
#mainBody {
	background: linear-gradient(var(--g-bodyMain) 0%, var(--t-skyUpper) 300vh);
}
#pageOptions a#item {
	background: linear-gradient(to top, var(--g-cardMain), var(--g-cardMain-hover));
	border-color: var(--t-skyUpper);
	border-style: solid;
	border-width: 3px;
}
#pageOptions a#item:hover {
	opacity: 80%;
}
#pageOptions img#svg, #raidenTheRat {
	mix-blend-mode: lighten;
}
footer {
	padding-top: 1px;
}
footer a {
	font-size: 14px;
	letter-spacing: 1px;
}