@import url("https://fonts.googleapis.com/css?family=Pixelify+Sans");
:root {
		/* General */
	--f-fontMain: "Pixelify Sans";
	--f-fontAlt: "Pixelify Sans";
	--g-bodyMain: #000;
	--g-cardMain: #000;
	--g-cardMain-hover: #000;
	--g-textLight: #0f0;
	--g-textEmphasis: #0f0;
	--g-textEmphasis-border: #007f00;
	--g-textDim: #00a900;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #000;
	--t-skyLower: #000;
}

body::before, body::after {
	bottom: 0;
	content: " ";
	display: block;
	left: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5000000;
}
body::before {
	background: linear-gradient(#12101000 50%, #0004 50%), linear-gradient(90deg, #ff00000f, #00ff0005, #0000ff0f);
	background-size: 100% 2px, 3px 100%;
}
body::after {
	animation: flicker .15s infinite;
	background: #1210101a;
	filter: opacity(0);
}
@keyframes flicker {
	from { filter: opacity(.25); }
	5% { filter: opacity(.35); }
	10% { filter: opacity(.23); }
	15% { filter: opacity(.11); }
	20% { filter: opacity(.19); }
	25% { filter: opacity(.11); }
	30% { filter: opacity(.18); }
	35% { filter: opacity(.24); }
}
#sunnySky {
	visibility: hidden;
}
#sunnyClouds {
	filter: brightness(.5) contrast(5) brightness(.333) opacity(.5);
}
#sunnyMountains {
	filter: saturate(5) hue-rotate(-90deg) opacity(.5);
}
#sunnyGround {
	filter: sepia() saturate(1.5) hue-rotate(60deg) brightness(.7) contrast(5) brightness(.75);
}
#overlay {
	filter: sepia() hue-rotate(90deg) brightness(.5) contrast(4) opacity(.1);
}
#pageOptions img {
	filter: sepia() saturate(2) hue-rotate(50deg);
}
#pageOptions img#svg, #raidenTheRat {
	filter: brightness(.5);
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(90deg) saturate(10) brightness(.75) contrast(5);
}
#setOverlay::before {
	filter: opacity(.25) saturate(0);
}