@import url("https://fonts.googleapis.com/css?family=Mynerve");
@import url("https://fonts.googleapis.com/css?family=Hubballi");
:root {
		/* General */
	--f-fontMain: "Hubballi";
	--f-fontAlt: "Mynerve";
	--g-bodyMain: #202020;
	--g-cardMain: #303030;
	--g-cardMain-hover: #2c3930;
	--g-textLight: #ebebeb;
	--g-textEmphasis: #b6f0d9;
	--g-textEmphasis-border: #438651;
	--g-textDim: #90aa97;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #57ba6b;
	--t-skyLower: #b6f0d9;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 50vh, var(--g-textEmphasis-border) 100vh);
}
#sunnyClouds {
	filter: opacity(.5) grayscale();
}
#sunnyMountains {
	filter: hue-rotate(-90deg) opacity(.5) blur(.5px);
}
#sunnyGround {
	filter: brightness(.5) grayscale() contrast(1.25);
}
#overlay {
	mix-blend-mode: darken;
	filter: opacity(.15);
}
#pageOptions img {
	filter: sepia() hue-rotate(90deg);
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(90deg) saturate(1.5);
}
#setOverlay::before {
	filter: hue-rotate(170deg) opacity(.25) saturate(.5);
}