@import url("https://fonts.googleapis.com/css?family=Iceberg");
@import url("https://fonts.googleapis.com/css?family=Iceland");
:root {
		/* General */
	--g-bodyMain: #083978;
	--g-cardMain: #0f5d9a;
	--g-cardMain-hover: #1f78bd;
	--g-textLight: #fdffff;
	--g-textEmphasis: #dfffff;
	--g-textEmphasis-border: #7effff;
	--g-textDim: #a6ffff;

		/* Title Card */
	--t-skyUpper: #56cfff;
	--t-skyLower: #ddffff;

		/* Shadows */
	--s-cardMain: #01094c75;
	--s-cardMain-hover: #01094c80;
}

body {
	font-family: "Iceberg", sans-serif;
}
header #headerLogo, header ul li a, #funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash, #funkyTitleSplash a, #mainBody h2, h2#video-player, #video-menu h2, #settings_title, #settings_bar h2, footer a {
	font-family: "Iceland";
	font-weight: bolder;
}
header #headerLogo {
	font-size: 27.5px;
}
header ul li {
	margin-left: 17px;
}
header ul li a {
	font-size: 15px;
}
section img#hills {
	filter: opacity(90%) sepia(50%) hue-rotate(90deg);
}
section img#sunnyGround {
	filter: saturate(50%) sepia() hue-rotate(180deg);
}
section img#overlay {
	filter: sepia() hue-rotate(180deg);
	mix-blend-mode: multiply;
	opacity: 50%;
}
#infoBox p {
	font-size: 13px;
}
#pageOptions a#item {
	border-color: linear-gradient(var(--t-skyUpper), var(--t-skyLower));
	border-style: solid;
	border-width: 1px;
}
#pageOptions img {
	filter: sepia() hue-rotate(180deg) saturate(200%);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#settings_title, #settings_bar h2 {
	font-size: 35px;
}