@import url("https://fonts.googleapis.com/css?family=Iceberg");
@import url("https://fonts.googleapis.com/css?family=Iceland");
:root {
		/* General */
	--f-fontMain: "Iceberg";
	--f-fontAlt: "Iceland";
	--g-bodyMain: #083978;
	--g-cardMain: #0f5d9a;
	--g-cardMain-hover: #1f78bd;
	--g-textLight: #fdffff;
	--g-textEmphasis: #dfffff;
	--g-textEmphasis-border: #7effff;
	--g-textDim: #a6ffff;
	--s-cardMain: #01094c75;
	--s-cardMain-hover: #01094c80;
	--t-skyUpper: #56cfff;
	--t-skyLower: #a3c8c8;
}

#sunnyMountains {
	filter: brightness(3) blur(.5px);
}
#sunnyGround {
	filter: sepia() hue-rotate(-157.5deg) saturate(3);
}
#overlay {
	filter: sepia() hue-rotate(180deg) opacity(.25);
	mix-blend-mode: multiply;
}
#pageOptions a#item {
	border: 1px solid transparent;
	border-image: linear-gradient(var(--t-skyUpper), var(--t-skyLower)) 1;
}
#pageOptions img {
	filter: sepia() hue-rotate(180deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(180deg) saturate(3) brightness(1.25);
}