@import url("https://fonts.googleapis.com/css?family=Gaegu");
@import url("https://fonts.googleapis.com/css?family=Klee+One");
:root {
		/* General */
	--f-fontMain: "Klee One";
	--f-fontAlt: "Gaegu";
	--g-bodyMain: #00440b;
	--g-cardMain: #115419;
	--g-cardMain-hover: #176326;
	--g-textLight: #ffffc2;
	--g-textEmphasis: #f4ff9d;
	--g-textEmphasis-border: #accd5a;
	--g-textDim: #bdeb94;
	--s-cardMain: #00320075;
	--s-cardMain-hover: #00320080;
	--t-skyUpper: #5aa7a1;
	--t-skyLower: #c0ffd5;
}

#sunnySky {
	filter: sepia() hue-rotate(90deg) opacity(.5);
}
#sunnyMountains {
	filter: hue-rotate(-90deg) opacity(.5) blur(.5px);
}
#sunnyGround {
	filter: sepia(.75) hue-rotate(60deg) saturate(1.25);
}
#overlay {
	filter: sepia() hue-rotate(45deg) opacity(.2);
	mix-blend-mode: multiply;
}
#pageOptions img {
	filter: sepia() hue-rotate(105deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: hue-rotate(-45deg);
}