@import url("https://fonts.googleapis.com/css?family=Handlee");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
:root {
		/* General */
	--f-fontMain: "Handlee";
	--f-fontAlt: "Patrick Hand SC";
	--g-bodyMain: #44240d;
	--g-cardMain: #4f3113;
	--g-cardMain-hover: #533317;
	--g-textLight: #f3e3b9;
	--g-textEmphasis: #f4d068;
	--g-textEmphasis-border: #bb823f;
	--g-textDim: #c5a788;
	--s-cardMain: #38190d75;
	--s-cardMain-hover: #38190d80;
	--t-skyUpper: #7d7d8d;
	--t-skyLower: #e9eba8;
}

#sunnySky {
	filter: sepia() saturate(2) opacity(.2);
}
#sunnyMountains {
	filter: hue-rotate(135deg) opacity(.5) blur(.5px);
}
#sunnyGround {
	filter: saturate(.8) sepia(.5) hue-rotate(-15deg) contrast(1.25);
}
#overlay {
	filter: opacity(.125);
	mix-blend-mode: multiply;
}
#pageOptions img {
	filter: sepia() saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: brightness(.75) sepia(.75) saturate(2);
}