:root {
		/* General */
	--g-bodyMain: #232221;
	--g-cardMain: #353230;
	--g-cardMain-hover: #42312b;
	--g-textLight: #f2f0e5;
	--g-textEmphasis: #edc99e;
	--g-textEmphasis-border: #c46c4e;
	--g-textDim: #b3a699;
	--s-cardMain: #14121275;
	--s-cardMain-hover: #14121280;
	--t-skyUpper: #4f77a2;
	--t-skyLower: #ebbe8f;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--g-textDim) 50vh, var(--t-skyLower) 100vh);
}
#sunnySky {
	filter: saturate(2) sepia() opacity(.5);
	mix-blend-mode: multiply;
}
#sunnyMountains {
	filter: hue-rotate(45deg) opacity(.5) blur(.5px);
}
#sunnyClouds {
	filter: opacity(.5) hue-rotate(-135deg);
}
#sunnyGround {
	filter: saturate(.8) hue-rotate(-22.5deg);
}
#pageOptions img {
	filter: grayscale(.9) sepia();
}
#pageOptions img#svg, #raidenTheRat {
	mix-blend-mode: lighten;
	filter: opacity(.75);
}
#sunnyFooterImg {
	filter: saturate(.8) hue-rotate(-45deg);
}