@import url("https://fonts.googleapis.com/css?family=DynaPuff");
@import url("https://fonts.googleapis.com/css?family=Shantell+Sans");
:root {
		/* General */
	--f-fontMain: "DynaPuff";
	--f-fontAlt: "Shantell Sans";
	--g-bodyMain: #773d24;
	--g-cardMain: #ae3528;
	--g-cardMain-hover: #ce4747;
	--g-textLight: #fff;
	--g-textEmphasis: #ffc767;
	--g-textEmphasis-border: #b96f1f;
	--g-textDim: #f3e1c3;
	--s-cardMain: #41260f75;
	--s-cardMain-hover: #41260f80;
	--t-skyUpper: #90d4ff;
	--t-skyLower: #fff193;
}

#sunnySky {
	filter: sepia(.5) hue-rotate(45deg) saturate(1.5) blur(.25px) opacity(.5);
}
#sunnyClouds {
	filter: opacity(.5);
	mix-blend-mode: normal;
}
#sunnyGround {
	filter: saturate(1.25) opacity(.9);
}
#overlay {
	mix-blend-mode: color-burn;
}
#pageOptions a#item {
	border: 2px dashed var(--g-textEmphasis);
}
#pageOptions img {
	filter: sepia(.9) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 11px;
}
footer a {
	font-size: 13px;
	letter-spacing: .1px;
}