@import url("https://fonts.googleapis.com/css?family=Chilanka");
@import url("https://fonts.googleapis.com/css?family=Mansalva");
:root {
		/* General */
	--f-fontMain: "Chilanka";
	--f-fontAlt: "Mansalva";
	--g-bodyMain: #005945;
	--g-cardMain: #006e55;
	--g-cardMain-hover: #00705b;
	--g-textLight: #fff1dc;
	--g-textEmphasis: #ffeac8;
	--g-textEmphasis-border: #fdc998;
	--g-textDim: #fee0c4;
	--s-cardMain: #00473375;
	--s-cardMain-hover: #00473380;
	--t-skyUpper: #d9bc9e;
	--t-skyLower: #ffebd5;
}

header #headerLogo {
	font-size: 20px;
}
header ul li {
	margin-left: 18.5px;
}
header ul li a {
	font-size: 13px;
}
#sunnySky {
	filter: saturate(2) sepia() opacity(.5);
	mix-blend-mode: multiply;
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(30deg);
}
#overlay {
	mix-blend-mode: color-burn;
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: sepia() hue-rotate(120deg) saturate(1.5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 13px;
	margin-top: 3px;
}
footer {
	line-height: 22.5px;
}
footer a {
	font-size: 13px;
	letter-spacing: .5px;
}