@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
:root {
		/* General */
	--f-fontMain: "M PLUS Rounded 1c";
	--f-fontAlt: "Patrick Hand";
	--g-bodyMain: #c22222;
	--g-cardMain: #d74030;
	--g-cardMain-hover: #eb6d47;
	--g-textLight: #e5f2e5;
	--g-textEmphasis: #aaed9e;
	--g-textEmphasis-border: #7ba245;
	--g-textDim: #b7c7ad;
	--s-cardMain: #14121275;
	--s-cardMain-hover: #14121280;
	--t-skyUpper: #71ca4b;
	--t-skyLower: #dff59d;
}

#sunnySky {
	mix-blend-mode: multiply;
}
#sunnyMountains {
	filter: hue-rotate(-90deg) opacity(.5) blur(.5px);
}
#sunnyGround {
	filter: sepia() hue-rotate(-45deg) brightness(.75) saturate(3);
}
#pageOptions img {
	filter: sepia() hue-rotate(-60deg) saturate(1.5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#sunnyFooterImg {
	filter: sepia(.75) hue-rotate(45deg) saturate(3);
}