@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
:root {
		/* General */
	--f-fontMain: "Space Mono";
	--f-fontAlt: "Share Tech Mono";
	--g-bodyMain: #121214;
	--g-cardMain: #121214;
	--g-cardMain-hover: #121214;
	--g-textLight: #fcfcfc;
	--g-textEmphasis: #fcfcfc;
	--g-textEmphasis-border: #121214;
	--g-textDim: #fcfcfc;
	--s-cardMain: #12121475;
	--s-cardMain-hover: #12121480;
	--t-skyUpper: #121214;
	--t-skyLower: #121214;
}

body {
	background: var(--t-skyUpper);
}
header #headerLogo {
	font-size: 27px;
}
header ul li {
	margin-left: 10px;
}
header ul li a {
	font-size: 14px;
}
#sunnySky {
	filter: opacity(0);
}
#sunnyClouds {
	filter: opacity(.25) grayscale() brightness(.6) contrast(5);
}
#sunnyGround {
	filter: grayscale() contrast(5) opacity(.9);
}
#overlay {
	mix-blend-mode: multiply;
}
#infoBox p {
	font-size: 12px;
	letter-spacing: -1px;
}
#pageOptions a#item {
	border: 1px solid var(--s-textEmphasis);
}
#pageOptions p {
	font-size: 11px;
}
footer {
	line-height: 19px;
}
footer a {
	font-size: 11.5px;
}