@import url("https://unpkg.com/xp.css@0.2.3/dist/98.css");
@import url("./../other/antialiasing.css");
:root {
		/* General */
	--f-fontMain: Arial, Helvetica;
	--f-fontAlt: Arial, Helvetica;
	--g-bodyMain: #808080;
	--g-cardMain: #c0c0c0;
	--g-cardMain-hover: #808080;
	--g-textLight: #000;
	--g-textEmphasis: #ff0;
	--g-textEmphasis-border: #ff8000;
	--g-textDim: #000;
	--s-cardMain: transparent;
	--s-cardMain-hover: transparent;
	--t-skyUpper: #fff;
	--t-skyLower: #fff;

		/* Special */
	--x-grid: url("./../../images/themes/paintbrush_grid.png");
}

body {
	background: var(--t-skyUpper);
}
header {
	background: var(--g-cardMain);
	border-style: solid;
	border-bottom: 1px var(--g-cardMain-hover);
}
header #headerLogo, header #headerLogo:hover {
	background: transparent;
	border-radius: 0;
}
header #headerLogo, header ul li a {
	color: var(--g-textLight);
	transition: 0s;
}
header #headerLogo {
	font-size: 22px;
}
header #headerLogo:hover, header ul li a:hover, header ul li a.active, header ul li a#active,
#pageOptions a#item {
	background: var(--g-cardMain);
	border-color: var(--t-skyUpper) var(--g-cardMain-hover) var(--g-cardMain-hover) var(--t-skyUpper);
	border-radius: 0;
	border: 1px ridge;
	color: var(--g-textLight);
	transition: 0s;
}
header ul li {
	margin-left: 17.5px;
}
header ul li a {
	font-size: 13px;
}
header ul li a:hover, header ul li a.active, header ul li a#active {
	transition: 0s;
	padding: 5px 11.6px;
}
header ul li::first-letter, header ul li a.active::first-letter, header ul li a#active::first-letter {
	text-decoration: underline;
}
#sunnyClouds {
	filter: opacity(0);
}
#sunnyGround {
	filter: saturate(.5) contrast(2);
}
#overlay {
	mix-blend-mode: color-burn;
}
#funkyTitleLarge::first-letter {
	text-decoration: underline;
}
#infoBox {
	background: transparent;
	border-radius: 0;
	border: 1px dotted;
}
#infoBox h2, h2#pageOptionsName {
	color: var(--g-textLight);
	text-decoration: none;
}
#infoBox h2::first-letter, #pageOptions p::first-letter, #infoHeader::first-letter {
	text-decoration: underline;
}
#infoBox p {
	font-size: 12px;
}
#pageOptions a#item {
	text-decoration: none;
	transition: 0s;
}
#pageOptions a#item:hover {
	background: var(--x-grid);
	border-color: var(--g-cardMain-hover) var(--g-cardMain) var(--g-cardMain) var(--g-cardMain-hover);
	border-radius: 0;
	border-width: 1px;
	color: var(--s-text-light);
	transform: scale(1, 1) rotate(0deg);
}
#pageOptions a:link img, #pageOptions a:visited img {
	border-style: none;
}
#pageOptions img {
	border-color: var(--g-cardMain-hover) var(--g-cardMain) var(--g-cardMain) var(--g-cardMain-hover);
	border-radius: 0;
	border: 1px ridge;
	filter: none;
}
#pageOptions p {
	color: var(--g-textLight);
	font-size: 11px;
	text-decoration: none;
}
#raidenTheRat {
	mix-blend-mode: normal;
}
footer {
	line-height: 20px;
}
footer a {
	font-size: 14px;
}