:root {
		/* General */
	--g-bodyMain: #000;
	--g-cardMain: #000;
	--g-cardMain-hover: #000;
	--g-textLight: #fff;
	--g-textEmphasis: #fff;
	--g-textEmphasis-border: #000;
	--g-textDim: #fff;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #fff;
	--t-skyLower: #fff;
}

header {
	background: #000000bf;
}
#sunnyClouds {
	filter: grayscale() opacity(.5);
}
#sunnyGround {
	filter: grayscale() brightness(1.2) contrast(5) opacity(.5);
	mix-blend-mode: soft-light;
}
#overlay {
	visibility: hidden;
}
#funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash {
	filter: brightness(.5);
	text-shadow: 0 0 10px var(--s-cardMain);
}
#funkyTitleSplash {
	filter: opacity(.9);
}
#mainBody h2, #mainBody #subtitle,
a#descNotice, p#descNotice, #infoBox h2 {
	filter: brightness(.5);
}
#pageOptions a#item:hover {
	transform: rotate(0deg);
}
#pageOptions img {
	filter: grayscale();
}