:root {
		/* General */
	--g-bodyMain: #000000;
	--g-cardMain: #000000;
	--g-cardMain-hover: #000000;
	--g-textLight: #ffffff;
	--g-textEmphasis: #ffffff;
	--g-textEmphasis-border: #000000;
	--g-textDim: #ffffff;

		/* Title Card */
	--t-skyUpper: #ffffff;
	--t-skyLower: #ffffff;

		/* Shadows */
	--s-cardMain: #00000075;
	--s-cardMain-hover: #00000080;
}

header {
	background: #000000bf;
}
section img#sunnyClouds {
	filter: grayscale() opacity(50%);
}
section img#hills {
	filter: grayscale() opacity(90%);
	mix-blend-mode: multiply;
}
section img#sunnyGround {
	filter: grayscale() brightness(120%) contrast(500%);
	mix-blend-mode: soft-light;
}
section img#overlay {
	visibility: hidden;
}
#funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash {
	filter: brightness(50%);
	text-shadow: 0 0 10px var(--s-cardMain);
}
#funkyTitleSplash {
	opacity: 90%;
}
#mainBody h2, #mainBody #subtitle, a#descNotice, p#descNotice, #infoBox h2, footer a#footer-padding, #video-menu ul li, #video-menu ul li:hover, #settings_title, #settings_bar ul h2, #settings_bar ul li a:hover, #settings_achievements a, #settings_achievements a:hover {
	filter: brightness(50%);
}
#pageOptions a#item:hover {
	rotate: 0deg;
}
#pageOptions img {
	filter: grayscale();
}