:root {
		/* General */
	--f-fontMain: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
	--f-fontAlt: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
	--g-bodyMain: #0e0e0e;
	--g-cardMain: #131313;
	--g-cardMain-hover: #151515;
	--g-textLight: #fff;
	--g-textEmphasis: #ff9000;
	--g-textEmphasis-border: #573100;
	--g-textDim: #fff;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #ff9000;
	--t-skyLower: #0e0e0e;
}

body {
	background: var(--t-skyLower);
}
header {
	background: var(--t-skyUpper);
}
header #headerLogo {
	font-size: 24px;
}
header ul li a, header ul li a.fa, header ul li a.fa:hover, header ul li a.fa#active {
	color: var(--g-bodyMain);
}
header ul li {
	margin-left: 13px;
}
header ul li a {
	font-size: 14px;
}
#sunnySky {
	filter: sepia() hue-rotate(-30deg) saturate(2);
	mix-blend-mode: multiply;
}
#sunnyClouds {
	filter: opacity(.5);
	mix-blend-mode: hard-light;
}
#sunnyGround {
	filter: sepia() hue-rotate(-15deg) saturate(5);
}
#infoBox p {
	font-size: 12px;
}
#pageOptions a#item {
	border: 1px solid var(--g-textEmphasis);
}
#pageOptions img {
	filter: sepia() hue-rotate(-30deg) saturate(5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 12px;
}
footer a {
	line-height: 20px;
}
footer a {
	font-size: 14px;
}