@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");
:root {
		/* General */
	--f-fontMain: "Fira Sans";
	--f-fontAlt: "Nanum Pen Script";
	--g-bodyMain: #592e45;
	--g-cardMain: #803333;
	--g-cardMain-hover: #a7473b;
	--g-textLight: #f8f3be;
	--g-textEmphasis: #fcdd95;
	--g-textEmphasis-border: #a7473b;
	--g-textDim: #ffd19d;
	--s-cardMain: #3f243175;
	--s-cardMain-hover: #3f243180;
	--t-skyUpper: #eb6868;
	--t-skyLower: #f8f3be;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 75vh, var(--t-skyUpper) 100vh);
}
header #headerLogo {
	font-size: 31px;
}
header ul li {
	margin-left: 18.5px;
}
header ul li a {
	font-size: 17px;
}
#sunnySky {
	filter: sepia(.5) hue-rotate(-60deg) saturate(2) contrast(1.25);
	mix-blend-mode: multiply;
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(-60deg) saturate(.8);
}
#overlay {
	filter: saturate(2);
	mix-blend-mode: color-burn;
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: sepia() hue-rotate(-45deg) saturate(1.5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#settings_title, #settings_bar h2 {
	font-size: 35px;
}
footer a {
	font-size: 18px;
	font-weight: 100;
}