@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
:root {
		/* General */
	--f-fontMain: "Poppins";
	--f-fontAlt: "Poppins";
	--g-bodyMain: #040426;
	--g-cardMain: #092b38;
	--g-cardMain-hover: #092b38;
	--g-textLight: #fff;
	--g-textEmphasis: #f1e7a4;
	--g-textEmphasis-border: #9a9159;
	--g-textDim: #bfbfbf;
	--s-cardMain: #01010e75;
	--s-cardMain-hover: #01010e80;
	--t-skyUpper: #7597de;
	--t-skyLower: #fff;
}

html#ratified {
	image-rendering: pixelated;
	filter: sepia() brightness(.5) hue-rotate(-45deg) contrast(50);
	transform: scale(-1);
}
body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower));
}
header {
	background: transparent;
}
header #headerLogo {
	font-size: 21px;
}
header ul li {
	margin-left: 16.5px;
}
header ul li a {
	font-size: 12px;
}
header ul li a.active, header ul li a#active {
	text-decoration: underline;
}
#sunnySky {
	filter: saturate(.5) hue-rotate(10deg) opacity(.2);
	mix-blend-mode: normal;
}
#sunnyClouds {
	filter: opacity(.25);
}
#sunnyGround {
	filter: saturate(.5) hue-rotate(10deg);
}
#overlay {
	visibility: hidden;
}
#mainBody h2 {
	color: var(--g-textLight);
	font-size: 3.5em;
	text-decoration: none;
}
#infoBox h2 {
	font-size: 35px;
}
#pageOptions {
	grid-template-columns: repeat(6, 1fr);
}
#pageOptions a#item {
	border-radius: 100%;
}
#pageOptions a#item:link {
	font-weight: 400;
	font-style: italic;
}
#pageOptions a#item:hover {
	transform: scale(.9) rotate(5deg);
	filter: opacity(.8);
}
#pageOptions img, #pageOptions p {
	width: 75%;
}
#pageOptions img {
	filter: none;
	width: 66.666%;
}
#pageOptions p {
	color: var(--g-textLight);
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}
footer {
	line-height: 20px;
}
footer a {
	font-size: 13px;
	letter-spacing: .1px;
}