@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Merienda");
:root {
		/* General */
	--f-fontMain: "Merienda";
	--f-fontAlt: "Creepster";
	--g-bodyMain: #402e20;
	--g-cardMain: #6f371b;
	--g-cardMain-hover: #c6622d;
	--g-textLight: #ffb77d;
	--g-textEmphasis: #d47dff;
	--g-textEmphasis-border: #520089;
	--g-textDim: #ce9262;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #000000;
	--t-skyLower: #2c2830;

		/* Special */
	--x-skyLowest: #30261f;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 75vh, var(--x-skyLowest) 100vh);
}
#sunnySky {
	filter: sepia() hue-rotate(-135deg) opacity(.25);
	mix-blend-mode: multiply;
}
#sunnyClouds {
	filter: opacity(.1) blur(3px);
}
#sunnyMountains {
	filter: hue-rotate(180deg) opacity(.5) saturate(.1) blur(.5px);
}
#sunnyGround, #sunnyFooterImg {
	filter: sepia(.5) hue-rotate(-90deg) saturate(1.5) contrast(.75) brightness(.75);
}
#overlay {
	filter: opacity(.1);
}
#pageOptions img {
	filter: sepia() hue-rotate(-30deg) saturate(1.5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}