@import url("https://fonts.googleapis.com/css?family=Chelsea+Market");
:root {
		/* General */
	--f-fontMain: "Chelsea Market";
	--f-fontAlt: "Chelsea Market";
	--g-bodyMain: #1f3e59;
	--g-cardMain: #3b697c;
	--g-cardMain-hover: #5ba1a7;
	--g-textLight: #f0e3dc;
	--g-textEmphasis: #ffb78f;
	--g-textEmphasis-border: #c8381b;
	--g-textDim: #ffa778;
	--s-cardMain: #12121475;
	--s-cardMain-hover: #12121480;
	--t-skyUpper: #699fa8;
	--t-skyLower: #c6e3e0;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 50vh);
}
header #headerLogo {
	font-size: 24px;
}
header ul li a {
	font-size: 11px;
}
#sunnySky {
	filter: saturate(2) hue-rotate(90deg);
	mix-blend-mode: color;
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(-90deg) brightness(1.125) saturate(2);
}
#infoBox p {
	font-size: 11px;
}
#pageOptions img {
	filter: sepia() hue-rotate(-12.5deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 12px;
}
footer a {
	font-size: 13px;
}