:root {
		/* General */
	--g-bodyMain: #212123;
	--g-cardMain: #303035;
	--g-cardMain-hover: #352b42;
	--g-textLight: #f2f0e5;
	--g-textEmphasis: #ede19e;
	--g-textEmphasis-border: #c4994e;
	--g-textDim: #b8b5b9;

		/* Title Card */
	--t-skyUpper: #4b80ca;
	--t-skyLower: #9df5f4;

		/* Shadows */
	--s-cardMain: #12121475;
	--s-cardMain-hover: #12121475;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0%, var(--t-skyLower) 100vh);
}
section img#sunnySky {
	filter: saturate(200%);
	mix-blend-mode: luminosity;
	opacity: 25%;
}
section img#sunnyClouds {
	filter: opacity(50%);
	mix-blend-mode: hard-light;
}
section img#hills {
	filter: opacity(90%) hue-rotate(22.5deg);
}
section img#sunnyGround {
	filter: saturate(80%);
}
#pageOptions img {
	filter: grayscale();
}