:root {
		/* General */
	--f-fontMain: "Dosis";
	--f-fontAlt: "Indie Flower";
	--g-bodyMain: #212123;
	--g-cardMain: #303035;
	--g-cardMain-hover: #352b42;
	--g-textLight: #f2f0e5;
	--g-textEmphasis: #ede19e;
	--g-textEmphasis-border: #c4994e;
	--g-textDim: #b8b5b9;
	--s-cardMain: #12121475;
	--s-cardMain-hover: #12121475;
	--t-skyUpper: #4b80ca;
	--t-skyLower: #9df5f4;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 100vh);
}
#sunnySky {
	filter: saturate(2) opacity(.25);
	mix-blend-mode: luminosity;
}
#sunnyClouds {
	filter: opacity(.5);
	mix-blend-mode: hard-light;
}
#sunnyGround {
	filter: saturate(.8);
}
#pageOptions img {
	filter: grayscale();
}