@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
:root {
		/* General */
	--f-fontMain: "Architects Daughter";
	--f-fontAlt: "Annie Use Your Telescope";
	--g-bodyMain: #222;
	--g-cardMain: #323232;
	--g-cardMain-hover: #653a3b;
	--g-textLight: #ededed;
	--g-textEmphasis: #ff9395;
	--g-textEmphasis-border: #a00c0e;
	--g-textDim: #fc6669;
	--s-cardMain: #13131375;
	--s-cardMain-hover: #13131380;
	--t-skyUpper: #878787;
	--t-skyLower: #d7d7d7;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 50vh);
}
header #headerLogo {
	font-size: 32px;
}
header ul li {
	margin-left: 22.5px;
}
header ul li a {
	letter-spacing: 1px;
}
#sunnyClouds {
	filter: opacity(.5) hue-rotate(125deg);
}
#sunnyGround {
	filter: grayscale();
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: sepia() hue-rotate(-45deg) saturate(2) grayscale(.5);
}
#pageOptions img#svg, #raidenTheRat {
	filter: none;
	mix-blend-mode: lighten;
}
footer a {
	font-size: 16px;
	letter-spacing: 8px;
}