:root {
		/* General */
	--f-fontMain: Arial, Helvetica;
	--f-fontAlt: Arial;
	--g-bodyMain: #303;
	--g-cardMain: #306;
	--g-cardMain-hover: #339;
	--g-textLight: #ffc;
	--g-textEmphasis: #ff0;
	--g-textEmphasis-border: #fc0;
	--g-textDim: #ccf;
	--s-cardMain: #000;
	--s-cardMain-hover: #000;
	--t-skyUpper: #999;
	--t-skyLower: #000;

		/* Special */
	--x-cursor: url("./../../images/themes/webSurfer_cursor.png");
	--x-cloud: url("./../../images/themes/webSurfer_clouds.jpeg");
	--x-header: url("./../../images/themes/webSurfer_header.png");
	--x-body: url("./../../images/themes/webSurfer_body.gif");
	--x-card: url("./../../images/themes/webSurfer_card.png");
	--x-settingmenu: url("./../../images/themes/webSurfer_setMenu.png");
	--x-settingbar: url("./../../images/themes/webSurfer_setBar.gif");
	--x-settingbutton: url("./../../images/themes/webSurfer_setButton.png");
}

body, :hover, :link, .squishable:hover, :active, #pageOptions a#item {
	cursor: var(--x-cursor), auto;
}
body {
	background: linear-gradient(#fff8, #fff8), var(--x-cloud);
}
header {
	background: var(--x-header) center/contain;
}
header::before {
	display: none;
}
header #headerLogo {
	font-size: 22px;
}
header ul li {
	margin-left: 17px;
}
header ul li a {
	font-size: 12px;
}
section::before {
	background: none;
}
#sunnySky, #sunnyClouds, #sunnyGround, #overlay {
	image-rendering: auto;
}
#sunnySky {
	mix-blend-mode: multiply;
}
#sunnyGround {
	filter: contrast(1.5);
}
#overlay {
	mix-blend-mode: multiply;
}
#mainBody {
	background: linear-gradient(#000000bf, #000000bf), var(--x-body);
}
#pageOptions a#item, #infoBox {
	background: linear-gradient(#0008, #0008), var(--x-card);
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: saturate(1.5);
}
#pageOptions p {
	font-size: 12px;
}
footer {
	line-height: 20px;
}
footer a {
	font-size: 14px;
}