:root {
		/* General */
	--g-bodyMain: #000000;
	--g-cardMain: #000000;
	--g-cardMain-hover: #000000;
	--g-textLight: #ffffff;
	--g-textEmphasis: #ff0000;
	--g-textEmphasis-border: #000000;
	--g-textDim: #ff0000;

		/* Title Card */
	--t-skyUpper: #000000;
	--t-skyLower: #000000;

		/* Shadows */
	--s-cardMain: #00000075;
	--s-cardMain-hover: #00000080;

	--x-goop: url("./../../images/themes/why_goop.jpg");
	--x-vein: url("./../../images/themes/why_vein.jpg");
}

body {
	background: var(--t-skyUpper);
}
section img#sunnySky {
	content: var(--x-goop);
	filter: sepia() hue-rotate(-30deg) contrast(10000%) opacity(25%) blur(5px) brightness(500%);
	mix-blend-mode: normal;
	opacity: 100%;
}
section img#hills {
	background-image: var(--x-goop);
	filter: sepia() brightness(50%) contrast(5000%) opacity(40%);
	mix-blend-mode: screen;
	transform: scaleX(-100%);
}
section img#sunnyGround {
	background-image: var(--x-vein);
	filter: sepia() contrast(5000%) opacity(90%);
	mix-blend-mode: screen;
	transform: scaleX(-100%);
}
section img#overlay {
	visibility: hidden;
}
#funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash {
	filter: sepia() brightness(75%) contrast(5000%);
}
#funkyTitleSplash {
	filter: none;
}
#pageOptions a#item {
	border-color: var(--g-textEmphasis);
	border-style: solid;
	border-width: 1px;
}
#pageOptions img {
	filter: sepia() contrast(5000%);
}
footer {
	width: 560px;
}