:root {
		/* General */
	--g-bodyMain: #000;
	--g-cardMain: #000;
	--g-cardMain-hover: #000;
	--g-textLight: #fff;
	--g-textEmphasis: #f00;
	--g-textEmphasis-border: #000;
	--g-textDim: #f00;
	--s-cardMain: #00000075;
	--s-cardMain-hover: #0008;
	--t-skyUpper: #000;
	--t-skyLower: #000;

	--x-goop: url("./../../images/themes/why_goop.jpg");
	--x-vein: url("./../../images/themes/why_vein.jpg");
}

body {
	background: var(--t-skyUpper);
}
#sunnySky {
	content: var(--x-goop);
	filter: sepia() hue-rotate(-30deg) contrast(100) opacity(.25) blur(5px) brightness(5) opacity(1);
	mix-blend-mode: normal;
}
#sunnyGround {
	background: var(--x-vein);
	filter: sepia() contrast(50) opacity(.9);
	mix-blend-mode: screen;
	transform: scaleX(-100%);
}
#overlay {
	visibility: hidden;
}
#funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash {
	filter: sepia() brightness(.75) contrast(50);
}
#funkyTitleSplash {
	filter: none;
}
#pageOptions a#item {
	border: 1px solid var(--g-textEmphasis);
}
#pageOptions img {
	filter: sepia() contrast(50);
}
footer {
	width: 560px;
}