@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Single+Day");
:root {
		/* General */
	--f-fontMain: "Kalam";
	--f-fontAlt: "Single Day";
	--g-bodyMain: #4e581c;
	--g-cardMain: #595a28;
	--g-cardMain-hover: #6e6f3d;
	--g-textLight: #ffcbff;
	--g-textEmphasis: #ffb5d7;
	--g-textEmphasis-border: #d28f87;
	--g-textDim: #e39fbc;
	--s-cardMain: #2d3e0075;
	--s-cardMain-hover: #2d3e0080;
	--t-skyUpper: #947885;
	--t-skyLower: #fbbaed;
}

body {
	background: linear-gradient(var(--t-skyUpper) 0, var(--t-skyLower) 75vh);
}
header #headerLogo {
	font-size: 29px;
}
header ul li {
	margin-left: 17px;
}
header ul li a {
	font-size: 16px;
	font-weight: 500;
}
#infoBox p {
	font-size: 13px;
}
#sunnySky {
	mix-blend-mode: multiply;
}
#sunnyGround {
	filter: sepia(.5) hue-rotate(-45deg);
}
#pageOptions img {
	filter: sepia() saturate(2) hue-rotate(22.5deg);
}
#pageOptions p {
	margin-top: 2px;
}
#raidenTheRat {
	mix-blend-mode: normal;
}
footer {
	line-height: 22.5px;
}
footer a {
	font-size: 15.5px;
	letter-spacing: .75px;
}
#sunnyFooterImg {
	filter: sepia() hue-rotate(22.5deg);
}