@import url("https://fonts.googleapis.com/css?family=Unkempt");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");
:root {
		/* General */
	--f-fontMain: "Unkempt";
	--f-fontAlt: "Walter Turncoat";
	--g-bodyMain: #2e156b;
	--g-cardMain: #47246f;
	--g-cardMain-hover: #4e216f;
	--g-textLight: #fff69d;
	--g-textEmphasis: #fde39a;
	--g-textEmphasis-border: #e0918d;
	--g-textDim: #dfad91;
	--s-cardMain: #15086775;
	--s-cardMain-hover: #15086780;
	--t-skyUpper: #776b7e;
	--t-skyLower: #d7f698;
}

header ul li a {
	font-size: 13px;
}
#sunnySky {
	mix-blend-mode: multiply;
}
#sunnyClouds {
	filter: opacity(.25);
}
#sunnyGround {
	filter: saturate(.75) hue-rotate(-15deg);
}
#overlay {
	filter: sepia() hue-rotate(180deg) opacity(.25);
	mix-blend-mode: color-burn;
}
#infoBox p {
	font-size: 12px;
}
#pageOptions img {
	filter: sepia() hue-rotate(-150deg) saturate(2);
}
#pageOptions img#svg, #raidenTheRat {
	filter: opacity(.9);
	mix-blend-mode: lighten;
}
#pageOptions p {
	font-size: 12px;
}
footer a {
	font-size: 14px;
	letter-spacing: .5px;
}
#sunnyFooterImg {
	filter: hue-rotate(45deg);
}