/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	BODY & INTRO ANIMS  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
body {
	overflow: hidden;
}

header {
	animation: headerOut .25s ease-in forwards;
}
@keyframes headerOut {to {top: -100px;}}

footer {
	animation: footerOut .25s ease-in forwards;
}
@keyframes footerOut {to {bottom: -100px;}}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	GAME CANVAS  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
div#bobsAdventure {
	position: fixed;
	top: -50%;
	right: 0;
	width: 100vw;
	height: 100vh;
}
canvas {
	position: fixed;
	image-rendering: pixelated;
	height: 100vh;
	width: 100vw;
	transform: scale(1.75);
	transform-origin: top left;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	GAMEOVER SCREEN  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#gameOverScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000c;
	color: #fff;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 10;
}
#gameOverScreen button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}