:root {
	--f-bfClothBlueDark: #0f1b82;
	--f-bfClothBlueLight: #0066cc;
	--f-bfClothRedDark: #ab164a;
	--f-bfClothRedLight: #ff2d32;
	--f-bfClothWhiteDark: #db93e6;
	--f-bfClothWhiteLight: #feebf7;
	--f-bfHairDark: #50a5eb;
	--f-bfHairLight: #66ffff;
	--f-bfMicDark: #343545;
	--f-bfMicLight: #8fbbbe;
	--f-bfMicMid: #485e84;
	--f-bfMouth: #ff6666;
	--f-bfSkinDark: #f89587;
	--f-bfSkinLight: #fddfbd;
	--f-bfSweatDark: #00ccff;
	--f-bfSweatLight: #ccffff;

	--f-bfClothBlueDark-MISS: #0a1296;
	--f-bfClothBlueLight-MISS: #0044d4;
	--f-bfClothRedDark-MISS: #730e67;
	--f-bfClothRedLight-MISS: #ac1e52;
	--f-bfClothWhiteDark-MISS: #9363ea;
	--f-bfClothWhiteLight-MISS: #ab9ef8;
	--f-bfHairDark-MISS: #356fee;
	--f-bfHairLight-MISS: #44acff;
	--f-bfMicDark-MISS: #232362;
	--f-bfMicLight-MISS: #607ec8;
	--f-bfMicMid-MISS: #303f97;
	--f-bfMouth-MISS: #ac447e;
	--f-bfSkinDark-MISS: #a7649a;
	--f-bfSkinLight-MISS: #aa96c7;

	--f-bfBallzOutline-DEAD: #00cccc;
	--f-bfBrainDark-DEAD: #fd916c;
	--f-bfBrainLight-DEAD: #ffdbb7;
	--f-bfBrainOutline-DEAD: #bc1640;
	--f-bfOutline-DEAD: #3333cc;

	--f-gfClothRedDark: #9a1652;
	--f-gfClothRedLight: #ee1536;
	--f-gfCry: #66cccc;
	--f-gfFingernail: #ee406b;
	--f-gfHairDark: #6d0f0a;
	--f-gfHairLight: #c42d06;
	--f-gfMouth: #ef3d61;
	--f-gfSkinDark: #fb95a9;
	--f-gfSkinLight: #ffd5d5;
	--f-gfSpeakerDark: #1b171c;
	--f-gfSpeakerLight: #434253;
	--f-gfSpeakerMid: #2c262f;

	--f-gfClothRedDark-MISS: #670e6d;
	--f-gfClothRedLight-MISS: #a00e56;
	--f-gfHairDark-MISS: #490a31;
	--f-gfHairLight-MISS: #841e2e;
	--f-gfMouth-MISS: #a1297a;
	--f-gfSkinDark-MISS: #a964b6;
	--f-gfSkinLight-MISS: #ac8fdb;

	--f-gfColor-DEAD: #f91537;
}