.arrow-container {
	position: fixed;
	top: 7.5%;
	right: 7.5%;
	display: flex;
	justify-content: space-between;
	z-index: 9999999999999999;
	width: calc(100% / 3.33);
	height: calc(100% / 3.33);
}
.arrow {
	width: calc(154px / 1.5);
	height: calc(154px / 1.5);
	background: url("./../../images/secret/funked/noteOld_assets.svg") no-repeat calc(616px / 1.5) calc(154px / 1.5);
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
	transition: transform .05s, background-position 0s;
}
.arrow.left {
	background-position: 0 0;
	filter: sepia() hue-rotate(-90deg);
}
.arrow.down {
	background-position: calc(-154px / 1.5) 0;
	filter: sepia() hue-rotate(180deg);
}
.arrow.up {
	background-position: calc(-308px / 1.5) 0;
	filter: sepia() hue-rotate(90deg);
}
.arrow.right {
	background-position: calc(-462px / 1.5) 0;
	filter: sepia() hue-rotate(-45deg);
}
.arrow.active {
	transform: scale(.95);
	background: rgba(0, 0, 0, .5);
}

.config-container {
	position: fixed;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	color: #fff;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 0 10px var(--s-shadow50);
}
.config-container label {
	display: block;
	margin-bottom: 8px;
}
.config-container input {
	width: 50px;
	padding: 4px;
	margin-right: 8px;
}

.note {
	width: 96px;
	height: 96px;
	background-image: url("./../../images/secret/funked/arrows.png") 384px 480px;
	display: inline-block;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	transition: transform .05s, background-position 0s;
}

.note.strumline {
	background-position: 0 0;
}

.note.normal {
	background-position: 0 192px;
}

.note.active {
	transform: scale(95%);
	background-position-y: -192px;
}
