/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	BASIC STUFFS  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
@import url("./settings.css");
@import url("./videoPlayer.css");
@import url("./other/ratified.css");
@import url("./../fonts/fontawesome/all.css");
@font-face {
	font-family: "Dosis";
	src: url("./../fonts/Dosis-VariableFont_wght.ttf") format("woff2");
}
@font-face {
	font-family: "Indie Flower";
	src: url("./../fonts/IndieFlower-Regular.ttf") format("woff2");
}

:root {
		/* Fonts */
	--f-fontMain: "Dosis";
	--f-fontAlt: "Indie Flower";

		/* Palette */
	--g-bodyMain: #212123;
	--g-cardMain: #303035;
	--g-cardMain-hover: #352b42;
	--g-textLight: #f2f0e5;
	--g-textEmphasis: #ede19e;
	--g-textEmphasis-border: #c4994e;
	--g-textDim: #b8b5b9;
	--s-cardMain: #12121475;
	--s-cardMain-hover: #12121480;
	--s-shadow25: #0004;
	--s-shadow30: rgba(0, 0, 0, .3);
	--s-shadow50: #0008;
	--s-shadow75: rgba(0, 0, 0, .75);
	--t-skyUpper: #4b80ca;
	--t-skyLower: #9df5f4;

		/* Achievements */
	--a-areYouLost-upper: #8d949c;
	--a-areYouLost-lower: #4b798c;
	--a-debugger-upper: #1e4044;
	--a-debugger-lower: #10121c;
	--a-ohNo-upper: #ca2750;
	--a-ohNo-lower: #000;
	--a-sup-upper: #6b2643;
	--a-sup-lower: #10121c;
	--a-placeholder-upper: #000;
	--a-placeholder-lower: #fff;
}
html {
	will-change: filter, mix-blend-mode;
}
body {
	background: linear-gradient(var(--t-skyUpper) 0vh, var(--t-skyLower) 100vh) no-repeat;
	font-family: var(--f-fontMain), sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
i {
	color: var(--g-textDim);
}
a:link i, i:link {
	color: var(--g-textEmphasis)!important;
}
a:visited i, i:visited {
	color: var(--g-textEmphasis-border)!important;
}
br::selection {
	background: transparent;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	HEADER  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
header {
	align-items: center;
	display: flex;
	height: 46px;
	justify-content: space-between;
	padding: 10px 50px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	will-change: color;
}
header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("./../header.svg") no-repeat center/cover;
	filter: brightness(0) drop-shadow(10px 10px 5px var(--s-shadow50)) opacity(.5);
}

#headerLogo {
	color: var(--g-textLight);
	cursor: pointer;
	font-family: var(--f-fontAlt);
	font-size: 25px;
	font-weight: 900;
	letter-spacing: 3px;
	line-height: 36px;
	padding: 5px 5px;
	text-decoration: none;
	text-transform: uppercase;
	transition: font-size .15s, text-shadow .15s, transform .125s;
	z-index: 0;
	will-change: filter, transform;
}
#headerLogo:hover {
	filter: drop-shadow(0 0 5px var(--g-textLight));
	animation: logoOscillate .75s infinite;
}
@keyframes logoOscillate {
	from, to {transform: rotate(-5deg) scale(1.1);}
	50% {transform: rotate(5deg) scale(1.1);}
}

header ul {
	position: absolute;
	right: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header ul li {
	list-style: none;
	margin-left: 15px;
	text-transform: capitalize;
	cursor: pointer;
}
header ul li a {
	border-radius: 20px;
	color: var(--g-textLight);
	font-family: var(--f-fontAlt);
	font-size: 12.5px;
	padding: 6px 5px;
	text-decoration: none;
	transition: background .1s, color .1s;
	font-weight: 600;
	letter-spacing: .5px;
	will-change: background, color;
	pointer-events: none;
}
header ul li:hover a {
	background: var(--g-textLight);
	color: var(--g-bodyMain);
}
header ul li.active a {
	text-decoration: underline;
}
header ul li:hover a a {
	animation: icoOscillate 2.5s infinite;
	color: var(--g-bodyMain);
	will-change: transform;
}
@keyframes icoOscillate {
	from, to {transform: rotate(-10deg);}
	50% {transform: rotate(-20deg);}
}
#settings {
	background: var(--s-shadow50);
	width: 10px;
	height: 10px;
	padding: 10px 10px 10px 8px;
	margin-left: -10px;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	SEARCH BAR  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
.autofill {
	display: inline-block;
}
input {
	border: 1px solid transparent;
	background: #1d1d1d;
	padding: 10px;
	font-size: 12.5px;
	height: 10px;
	color: #fff;
}
input[type=text] {
	background: #1a1a1a;
	width: 275px;
}
input[type=submit] {
	background: DodgerBlue;
	color: #fff;
}
.autofillItems {
	position: absolute;
	border: 1px solid!important;
	border-color: #363636 var(--g-textLight);
	color: var(--g-textLight);
	top: 32px;
	margin-left: auto;
	width: 290px;
	right: 38px;
}
.autofillItems div:last-child {
	border-bottom: 1px solid var(--g-textLight);
}
.autofillItems div {
	height: 20px;
	padding: 5px 10px 0 10px;
	font-size: 12.5px;
	cursor: pointer;
	background: var(--g-bodyMain);
	border-bottom: 1px solid var(--g-cardMain);
	will-change: background;
}
.autofillItems div:hover {
	background: #252525;
}
.autofillActive {
	background: var(--g-cardMain-hover)!important;
	color: #fff;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	TITLE CARD  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
section {
	display: flex;
	contain: content;
	justify-content: center;
	overflow: hidden;
	margin: 0;
	padding: 100px 0;
	position: relative;
	height: 66.666vh;
	width: 100vw;
	z-index: -1;
}
section::after {
	background: linear-gradient(to top, var(--g-bodyMain), transparent);
	content: "";
	position: absolute;
	bottom: 0;
	height: 15vh;
	width: 100vw;
}

section img {
	height: 81.5vh;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 200vh;
	pointer-events: none;
	will-change: filter, opacity, transform, mix-blend-mode;
}
section img::selection {
	color: transparent;
	background: transparent;
}
#sunnySky {
	margin-top: -25%;
	mix-blend-mode: luminosity;
	filter: opacity(.25);
	top: 50px;
}
#sunnyClouds {
	filter: blur(1px) opacity(.5);
	margin-top: -10%;
	mix-blend-mode: hard-light;
}
#sunnyMountains {
	top: -25%;
	filter: opacity(.5);
	transform: scale(1.075);
	transition: transform .025s ease;
}
#sunnyGround {
	filter: contrast(1.125) saturate(.8);
	margin-top: -27.5%;
	top: 16.5vh;
}
#sunnyFore1, #sunnyFore2 {
	margin-top: -20%;
}
#overlay {
	margin-top: -25%;
	filter: opacity(.125);
	image-rendering: pixelated;
	mix-blend-mode: color-burn;
	pointer-events: none;
}
#funkyTitleBox {
	vertical-align: auto;
	position: fixed;
	top: 37.5vh;
	height: 100px;
}
#funkyTitleBox, #funkyTitleSmall, #funkyTitleLarge, #funkyTitleSplash {
	color: var(--g-textLight);
	font-family: var(--f-fontAlt);
	pointer-events: none;
	text-align: center;
	text-shadow: 0 0 10px var(--g-bodyMain);
	white-space: nowrap;
	padding: 0;
	margin: 0;
	transition: .125s;
	will-change: color, transform;
}
#funkyTitleSmall {
	font-size: 25px;
	padding: 0;
	margin-bottom: 10px;
}
#funkyTitleLarge {
	font-size: 100px;
}
#funkyTitleLarge a {
	color: var(--g-textLight);
	text-decoration: none;
}
#funkyTitleSplash {
	animation: splashPulse 1s ease-in-out infinite;
	color: var(--g-textEmphasis);
	height: 50px;
	position: absolute;
	rotate: -10deg;
	margin: -35px;
	margin-left: 0;
	text-shadow: -1px 0 var(--g-textEmphasis-border), 0 1px var(--g-textEmphasis-border), 1px 0 var(--g-textEmphasis-border), 0 -1px var(--g-textEmphasis-border), 0 0 5px var(--g-bodyMain);
	width: 500px;
	will-change: color, scale;
}
#funkyTitleSplash a {
	color: var(--g-textEmphasis);
	cursor: pointer;
	font-family: var(--f-fontAlt);
	pointer-events: all;
}
#splashZimfinite {
	width: 100px;
	will-change: transform;
}
@keyframes splashPulse {50% {scale: 1.1;}}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	MAIN BODY CONTENT  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
body, #mainBody, #twoColumnSection {
	box-sizing: border-box;
}

#mainBody {
	background: var(--g-bodyMain);
	contain: content;
	color: var(--g-textLight);
	font-family: var(--f-fontMain), sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	padding: 70px 120px 50px 120px;
	will-change: color;
}
#mainBody h2 {
	color: var(--g-textDim);
	font-family: var(--f-fontAlt);
	font-size: 27.32px;
}
#mainBody p {
	font-size: 13.666px;
	margin: 5px;
	padding: 0;
}
#mainBody a:link, #mainBody a:visited {
	color: var(--g-textEmphasis);
	font-weight: 700;
	text-decoration: underline;
}

#twoColumnSection, #infoBox {
	align-content: center;
	color: var(--g-textLight);
	float: left;
}
#twoColumnSection {
	width: 50%;
}

#pageOptionsName {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 0;
}
#pageOptions {
	box-sizing: border-box;
	display: grid;
	gap: 13.666px;
	grid-auto-rows: 180px;
	grid-template-columns: repeat(9, 1fr);
	padding: 10px;
}
@media screen and (max-width: 6100px) { #pageOptions { grid-template-columns: repeat(36, 1fr); } }
@media screen and (max-width: 4600px) { #pageOptions { grid-template-columns: repeat(28, 1fr); } }
@media screen and (max-width: 3100px) { #pageOptions { grid-template-columns: repeat(18, 1fr); } }
@media screen and (max-width: 2300px) { #pageOptions { grid-template-columns: repeat(13, 1fr); } }
@media screen and (max-width: 2100px) { #pageOptions { grid-template-columns: repeat(12, 1fr); } }
@media screen and (max-width: 1900px) { #pageOptions { grid-template-columns: repeat(11, 1fr); } }
@media screen and (max-width: 1700px) { #pageOptions { grid-template-columns: repeat(10, 1fr); } }
@media screen and (max-width: 1600px) { #pageOptions { grid-template-columns: repeat(9, 1fr); } }
@media screen and (max-width: 1440px) { #pageOptions { grid-template-columns: repeat(8, 1fr); } }
@media screen and (max-width: 1280px) { #pageOptions { grid-template-columns: repeat(7, 1fr); } }
@media screen and (max-width: 1200px) { #pageOptions { grid-template-columns: repeat(5, 1fr); } }
@media screen and (max-width: 870px) { #pageOptions { grid-template-columns: repeat(4, 1fr); } }
@media screen and (max-width: 610px) { #pageOptions { grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: 380px) { #pageOptions { grid-template-columns: repeat(1, 1fr); } }


#pageOptions a#item {
	animation: cardSlideIn .125s ease-out forwards;
	animation-delay: var(--js-delay);
	background: var(--g-cardMain);
	border-radius: 10px;
	cursor: pointer;
	filter: opacity(0);
	height: 177px;
	padding-top: 7px;
	text-align: center;
	transition: background-color .2s, transform .2s, filter .3s ease-in-ot;
	will-change: background-color, filter, transform, border, border-image;
}
@keyframes cardSlideIn {
	from {transform: translateY(50px);}
	to { filter: drop-shadow(0 5px 4px var(--s-cardMain)) opacity(1);}
}
#pageOptions a#item:hover {
	background: var(--g-cardMain-hover);
	filter: drop-shadow(5px 10px 4px var(--s-cardMain-hover));
	transform: scale(.95) rotate(5deg);
}
#pageOptions img, #pageOptions p {
	border-radius: 20px;
	display: block;
	margin: auto;
	object-fit: cover;
	pointer-events: auto;
	width: 90%;
}
#pageOptions img {
	filter: grayscale();
	background: center/cover no-repeat;
	pointer-events: none;
}
#pageOptions img::selection {
	background: transparent;
	color: transparent;
}
#pageOptions img#svg {
	mix-blend-mode: exclusion;
}
#pageOptions p, #pageOptions p i {
	color: var(--g-textEmphasis);
	font-weight: 700;
	height: 10%;
	padding-top: 5px;
	text-decoration: underline;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	INFORMATIONALS  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#infoBox {
	background: linear-gradient(to left, var(--g-bodyMain), var(--g-cardMain));
	border-radius: 25px;
	color: var(--g-textLight);
	padding: 5px;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
}
#infoBox a, #infoBox p, #infoBox h2 {
	padding-left: 10px;
	margin: 10px;
}
#infoBox h2 {
	color: var(--g-textDim);
	font-size: 27.5px;
	margin: 10px 0 -10px 0;
}
#infoBox p a {
	color: var(--g-textEmphasis);
	cursor: pointer;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
#descMain i a:link, #descMain i a:visited {
	color: var(--g-textLight);
}
#descNotice {
	color: var(--g-textDim);
	font-style: italic;
}
#descNotice::before {
	content: "NOTE: ";
}
#descWarn, #descWarn2 {
	color: var(--g-textEmphasis);
	font-weight: 900;
}
#descWarn::before, #descWarn2::before {
	content: " ⚠ "
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	RAIDEN THE RAT  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#raidenTheRat {
	background: url("./../ratDoodle.svg") no-repeat center/825px;
	height: 275px;
	width: 275px;
	cursor: grab;
	display: block;
	mix-blend-mode: exclusion;
	filter: saturate(.5);
	margin: 0 auto 0 auto;
	transition: transform .2s, rotate .3s;
	animation: raidenIdle 1.5s steps(1) infinite;
	will-change: rotate, transform;
}
@keyframes raidenIdle {
	from {background-position: 0 0;}
	33.333% {background-position: -275px 0;}
	66.666% {background-position: -550px 0;}
}
#raidenTheRat:hover {
	transform: scale(1.05, .95) rotate(2deg);
}
#raidenTheRat:active {
	cursor: grabbing;
	transform: scale(1.1, .9) rotate(3deg);
}
#raidenSubtitle {
	color: var(--g-textDim);
	font-size: 12px!important;
	margin: 0;
	text-align: center;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	FOOTER  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#sunnyFooter {
	display: flex;
	contain: content;
	position: relative;
	margin-top: -150px;
	width: 100%;
	height: 22vw;
	overflow: hidden;
	pointer-events: none;
}
#sunnyFooterImg::selection {
	color: transparent;
	background: transparent;
}
#sunnyFooter::before, #sunnyFooterImg {
	position: absolute;
	width: 100vw;
	left: 0;
}
#sunnyFooter::before {
	content: "";
	background: linear-gradient(transparent 35%, var(--g-bodyMain) 35%, #000 125%);
	height: 100%;
	left: 0;
	z-index: 0;
}
#sunnyFooterImg {
	top: -17.5vw;
	height: auto;
	transition: transform .025s ease-in-out;
	will-change: transform, filter, mix-blend-mode;
}

footer {
	position: fixed;
	background: linear-gradient(to right, transparent, var(--s-shadow25) 10%);
	bottom: -4px;
	height: 24px;
	right: 0;
	padding-right: 10px;
	text-align: right;
	display: flex;
	align-items: center;
	z-index: 3;
}
footer a, footer a::after {
	color: var(--g-textLight);
	font-family: var(--f-fontAlt);
}
#footerTime, #footerBrand {
	color: var(--g-textLight);
	pointer-events: none;
}
footer .fa, footer .fab {
	margin-left: -2.5px;
	transform: scale(.9);
	letter-spacing: -2.5px;
}
footer span {
	color: var(--g-textDim);
	filter: opacity(.5);
	pointer-events: none;
	margin: 5px;
}
footer span::selection {
	background: transparent;
	color: var(--g-textDim);
}
footer a:link, footer a:visited {
	color: var(--g-textEmphasis);
	text-decoration: none;
	transition: .1s;
	will-change: text-shadow;
}
footer a:link:hover, footer a:visited:hover {
	text-shadow: -.25px -.25px 0 var(--g-textEmphasis), .25px -.25px 0 var(--g-textEmphasis), -.25px .25px 0 var(--g-textEmphasis), .25px .25px 0 var(--g-textEmphasis);
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	ERRORS  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#pageError {
	background: linear-gradient(#0008, #000000bf 100vh);
	font-family: var(--f-fontMain), sans-serif;
	font-weight: 500;
	contain: content;
	height: 100vh;
	left: 0;
	position: fixed;
	text-align: center;
	top: 1000vh;
	width: 100vw;
}
#pageError img, #pageError h2, #pageError a, #pageError p {
	filter: drop-shadow(0 10px 2px var(--s-shadow25));
}
#pageError img {
	margin-top: 50px;
	width: 75px;
}
#pageError h2 {
	font-family: var(--f-fontAlt);
	font-size: 50px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#pageError p#errorlog {
	color: #bfbfbf;
	margin: 0 0 50px 0;
}
#pageError p, h2 {
	color: #fff;
	font-weight: 900;
	letter-spacing: .5px;
}
#pageError p a:link, p a:visited {
	color: #0ff;
	font-weight: 900;
	padding: 0;
}
#pageError #footer {
	bottom: 30px;
	color: #bfbfbf;
	position: absolute;
	right: 50px;
	text-decoration: none;
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	ADDITIONAL RESOURCES  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#colorDiv {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	line-height: 0;
}

#copiedToClipboard {
	align-items: center;
	animation: copied 2s linear forwards;
	background: var(--s-shadow75);
	border-radius: 50px;
	color: var(--g-textLight);
	display: flex;
	font-size: 15px;
	font-weight: 600;
	height: 30px;
	justify-content: center;
	pointer-events: none;
	position: fixed;
	right: calc(50vw - 100px);
	text-align: center;
	top: calc(50vh - 15px);
	width: 200px;
	will-change: background, scale, opacity;
}
@keyframes copied {
	from {
		background: var(--s-shadow50);
		transform: scale(1.1, 1.1);
	}
	10% {
		background: var(--s-shadow75);
		transform: scale(1, 1);
	}
	50% {
		filter: opacity(1);
	}
	to {
		filter: opacity(0);
	}
}

#cinematicBar {
	height: 10vh;
	background: #000;
	position: fixed;
	width: 100vw;
	z-index: 1;
	transition: .25s ease-out;
	will-change: filter, bottom, top;
}
#cinematicBar.upper {
	top: -10vh;
}
#cinematicBar.lower {
	bottom: -10vh;
}
#cinematicBar.upper.active {
	top: 0vh;
}
#cinematicBar.lower.active {
	bottom: 0vh;
}

#SPOOK { /* Jumpscare Animation */
	animation: spookOut .65s linear 1;
	height: 150vh;
	left: 0;
	filter: opacity(1);
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 314159265358979323;
	will-change: filter;
}
@keyframes spookOut {
	from, 99% {filter: opacity(1);}
	to {filter: opacity(0);}
}

/*	--------------------------------------------------------------------------------------------------------------------------------  */
/*	DEBUGGER  */
/*	--------------------------------------------------------------------------------------------------------------------------------  */
#debugStats {
	position: fixed;
	background: var(--s-shadow75);
	contain: content;
	top: 70px;
	left: -750px;
	width: 750px;
	font-size: 10px;
	padding: 10px;
	color: #fff;
	z-index: 2;
	border: rgba(255, 255, 255, .75) solid;
	border-radius: 0 10px 10px 0;
	border-width: 1px 1px 1px 0;
	transition: .125s ease-in-out;
	will-change: transform;
}
#debugStats:hover {
	transform: translateX(750px);
}
#debugStats::after {
	content: ">";
	position: absolute;
	top: 5px;
	right: 5px;
	pointer-events: none;
	font-size: 20px;
	transition: .125s ease-in-out;
	will-change: filter;
}
#debugStats:hover::after {
	filter: opacity(0);
}

#terminal {
	position: fixed;
	overflow-x: hidden;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 20px;
	background: var(--s-shadow75);
	padding: 0;
	box-sizing: border-box;
	overflow-y: auto;
	z-index: 1000;
	font-size: 16px;
	transform: translateY(20px);
	transition: .125s ease-in-out;
}
#terminal.active {
	transform: translateY(0);
}
#terminalInput {
	border: none;
	background: transparent;
	color: var(--g-textEmphasis);
	filter: hue-rotate(50deg);
	width: 100%;
	height: 30px;
	padding: 1px;
	margin: 0 0 0 10px;
	height: 10px;
	outline: none;
	font-size: 10px;
}
#terminalOutput {
	position: fixed;
	left: 10px;
	font-size: 10px;
	padding: 0 10px 0 10px;
	background: var(--s-shadow50);
	color: var(--g-textDim);
	bottom: 20px;
}